<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/HP/IdeaProjects/LearningSeleniumATB/src/test/java/org/apipractice/ex_02Selenium_basics/sample.java"><classes/></test></suite>